body {
  font-family: "Nanum Gothic", sans-serif;
}

.teamproject {
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* align-content: space-around; */
  flex-wrap: wrap;
}

.project {
  border: 1px solid black;
  flex: 50%;
  max-width: 600px;
  margin: 1em;
  display: flex;
}

.project > div {
  padding: 1em;
}

.project-photo {
  width: 70%;
  float: left;
  height: 300px;
  border-right: 1px solid black;
}

.project-desc {
  /* background: yellow; */
  width: 30%;
}

.over:hover {
  display: block;
}
.over {
  display: none;
}

.names {
  position: absolute;
  bottom: 2px;
}

.out {
  position: relative;
  height: 100%;
}