.part-1 {
  --image-height: 95vh;
}

.part-1 .ExplainUnbap {
  text-align: center;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 8vh;
  padding-bottom: 10vh;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 2vh;
  margin-top: 1vh;
  background-color: #00bfff;
}
.part-1 .textUnbapExplain {
  font-size: 1.5rem;
  text-align: center;
}
.part-1 .textUnbap {
  font-size: 5rem;
  margin: 0;
  height: 100%;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}
.part-1 .textUnbap h2 {
  margin: 0;
  font-family: "arial", sans-serif;
  font-weight: 545;
  letter-spacing: 1.8rem;
  font-size: 18vw;
}
.part-1 .main-imagex {
  position: relative;
  height: var(--image-height);
  margin-bottom: calc(100vh - var(--image-height));
}
.part-1 #unbapText {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  color: white;
  /* background-color: white; */
  background-color: rgba(0, 0, 0, 0.5);
}
/* .part-1 #unbapText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
} */

/* .part-1 .unbapImg {
  overflow: hidden;
} */
.part-1 img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: var(--image-height);
  /* height: 100vh; */
}
