.part-1 {
  --image-height: 95vh;
}

.part-1 .ExplainUnbap {
  text-align: center;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  background-color: #00bfff;
}
.part-1 .textUnbapExplain {
  font-size: 1.5rem;
  text-align: center;
}
.part-1 .textUnbap {
  font-size: 5rem;
  margin: 0;
  height: 100%;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}
.part-1 .textUnbap h2 {
  margin: 0;
}
.part-1 .main-imagex {
  position: relative;
  height: var(--image-height);
}
.part-1 #unbapText {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  color: white;
  font-weight: bold;
  /* background-color: white; */
  background-color: rgba(0, 0, 0, 0.3);
}
/* .part-1 #unbapText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
} */

/* .part-1 .unbapImg {
  overflow: hidden;
} */
.part-1 img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: var(--image-height);
  /* height: 100vh; */
}
