.project-page {
  /* display: none; */
  padding: 0.66em;
}

/*********** 슬라이드 파트 css *************/
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
.slider_wrapper {
  width: 1260px;
  margin: 0 auto;
  position: relative;
  height: 400px;
  overflow: hidden;
  border: 5px solid red;
}
.slides {
  position: relative;
  height: 400px;
  width: 400px;
  margin: 0 auto;
  transition: left 0.5s ease-in-out;
  left: 0;
  transform: translateX(-430px);
}
.slides li {
  position: absolute;
}

.controls span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  cursor: pointer;
}
.controls #prev {
  margin-left: -620px;
}
.controls #next {
  margin-left: 600px;
}
.arrow {
  color: blueviolet;
}
/*********** 여기까지 슬라이드 파트 ************/

.lower-desc {
  max-width: 1060px;
  margin: auto;
}

.extra-pro {
  width: 30%;
  float: left;
  background-color: #eee;
  border: 1px solid darkgray;
  padding: 1em;
  margin-right: 1.5em;
}

.extra-pro .extra-desc h3:first-child {
  margin-top: 0;
}

.extra-pro .extra-desc ul {
  padding-left: 1.5em;
}

.extra-pro .extra-desc li {
  list-style: disc;
}

.more_explain {
  clear: both;
  margin-top: 6em;
  display: none;
}
