.main-pro {
  /* display: none; */
}

/* 가져온 css */
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
.slider_wrapper {
  width: 1560px;
  margin: 0 auto;
  position: relative;
  height: 500px;
  overflow: hidden;
}
.slides {
  position: relative;
  height: 500px;
  width: 500px;
  margin: 0 auto;
  transition: left 0.5s ease-in-out;
  left: 0;
  transform: translateX(-520px);
}
.slides li {
  position: absolute;
}

.controls span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  cursor: pointer;
}
.controls #prev {
  margin-left: -740px;
}
.controls #next {
  margin-left: 750px;
}
.arrow {
  color: blueviolet;
}
/* 여기까지 */

.lower-desc {
  max-width: 1000px;
  margin: auto;
}

.extra-pro {
  width: 30%;
  float: left;
  background-color: #eee;
  border: 1px solid darkgray;
  padding: 1em;
  /* margin: 0.5em; */
}

.brief_explain {
  /* margin-top: 4em; */
}

.more_explain {
  clear: both;
  margin-top: 6em;
  display: none;
}
