html,
body {
  margin: 0;
}

.menuBar {
  background-color: rgba(255, 255, 255, 0.2);
  position: fixed;
  width: 100%;
  text-align: right;
  top: 0;
  font-family: "arial", sans-serif;
  font-size: 1.01rem;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.05rem;
  padding: 0.7em;
  display: block;
  z-index: 1;
  transition: background-color 200ms linear;
}

.menuBar .menu:last-child {
  margin-right: 3em;
}

.menuBar.scrolled,
.menuBar.standalone {
  background-color: rgba(0, 0, 0) !important;
  transition: background-color 200ms linear;
}

.menuBar.standalone {
  top: 0;
  position: sticky;
  /* display: block; */
  text-align: right;
  margin: 0;
}
.menuBar.standalone a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.menuBar .menu {
  margin: auto 1em;
  cursor: pointer;
}
